body{
    background-color: #393e46;
}
h1{
    color: #4ecca3;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    margin-top: 30px;
    margin-bottom: 50px;
}
.center-text{
    text-align: center;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
.footer{
    margin-top: 50px;
    font-size: 1rem;
    color: #EEEEEE;;
}